<!doctype html>
<html>
<head>
  <title>Poker Hand Odds</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='deck-of-cards/cards.css') }}">
</head>
<body>
  <script src="{{ url_for('static', filename='deck-of-cards/deck.js') }}"></script>
  <h1>Poker Hand Odds Learning Tool</h1>
  <div id="deck"></div>
</body>
</html>
