<!doctype html>
<html>
<head>
  <title>Poker Hand Odds</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='deck-of-cards/cards.css') }}">
</head>
<body>
  <script src="{{ url_for('static', filename='deck-of-cards/deck.js') }}"></script>
  <header>
    <h1>Poker Hand Odds</h1>
  </header>
  
  <div class="row">
    <div class="col-12">
      <div class="turn-progress-bar-container">
        <div class="progress-wrap">
         <ol class="progress-wizard">
           <li class="progress-point current todo stepone">Pre Flop</li>
           <li class="progress-point todo steptwo">Flop</li>
           <li class="progress-point todo stepthree">Turn</li>
           <li class="progress-point todo stepfour">River</li>
         </ol>
         </div>
       </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-6">
      <div class="hand">
        <h3>Your Hand</h3>  
        <img class="card hand-card" src="{{ url_for('static', filename='deck-of-cards/faces/back.png') }}">
        <img class="card hand-card" src="{{ url_for('static', filename='deck-of-cards/faces/back.png') }}">
      </div>
    </div>
    <div class="col-6">
      <div class="board">
        <h3>Board</h3>  
        <img class="card board-card" src="{{ url_for('static', filename='deck-of-cards/faces/back.png') }}">
        <img class="card board-card" src="{{ url_for('static', filename='deck-of-cards/faces/back.png') }}">
        <img class="card board-card" src="{{ url_for('static', filename='deck-of-cards/faces/back.png') }}">
        <img class="card board-card" src="{{ url_for('static', filename='deck-of-cards/faces/back.png') }}">
        <img class="card board-card" src="{{ url_for('static', filename='deck-of-cards/faces/back.png') }}">
      </div>
    </div>
  </div>
  <form action="/calculate" method="post" id="calculate_form">
    <div class="row">
      <div class="col-6">
          <div class="hand">
            <input type="text" maxlength="3" class="card-input hidden" name="hand1">
            <input type="text" maxlength="3" class="card-input hidden" name="hand2">
          </div>
      </div>
      <div class="col-6">
        <div class="board">
          <input type="text" maxlength="3" class="card-input hidden" name="board1">
          <input type="text" maxlength="3" class="card-input hidden" name="board2">
          <input type="text" maxlength="3" class="card-input hidden" name="board3">
          <input type="text" maxlength="3" class="card-input hidden" name="board4">
          <input type="text" maxlength="3" class="card-input hidden" name="board5">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <input type="submit" value="Calculate">
      </div>
      <div class="col-6">   
        <div id="app"></div>
      </div>
    </div>

    <br>
  </form>

  <div class="calculation-progress-bar-container hidden">
    <div class="loader">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>


  <div class="row">
    <div class="col-10">
      <div class="range-table">
        <div class="range-element-inner unselected-combination">
          <p class="title">AA</p>
          <p class="description">R: 5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">AK</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">AQ</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">AJ</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">AT</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">A9</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">A8</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">A7</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">A6</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">A5</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">A4</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">A3</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">A2</p>
          <p class="description">5%</p>
        </div>
        <!-- END OF ROW 1 -->
        <div class="range-element-inner unselected-combination">
          <p class="title">KA</p>
          <p class="description">R: 5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">KK</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">KQ</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">KJ</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">KT</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">K9</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">K8</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">K7</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">K6</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">K5</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">K4</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination ">
          <p class="title">K3</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">K2</p>
          <p class="description">5%</p>
        </div>
        <!-- END OF ROW 2 -->
        <div class="range-element-inner unselected-combination">
          <p class="title">QA</p>
          <p class="description">R: 5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">QK</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">QQ</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">QJ</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">QT</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">Q9</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">Q8</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">Q7</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">Q6</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">Q5</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">Q4</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">Q3</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">Q2</p>
          <p class="description">5%</p>
        </div>
        <!-- END OF ROW 3 -->
        <div class="range-element-inner unselected-combination">
          <p class="title">JA</p>
          <p class="description">R: 5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">JK</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">JQ</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">JJ</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">JT</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">J9</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">J8</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">J7</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">J6</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">J5</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">J4</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">J3</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">J2</p>
          <p class="description">5%</p>
        </div>
        <!-- END OF ROW 4 -->
        <div class="range-element-inner unselected-combination">
          <p class="title">TA</p>
          <p class="description">R: 5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">TK</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">TQ</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">TJ</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">TT</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">T9</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">T8</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">T7</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">T6</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">T5</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">T4</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">T3</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">T2</p>
          <p class="description">5%</p>
        </div>
        <!-- END OF ROW 5 -->
        <div class="range-element-inner unselected-combination">
          <p class="title">9A</p>
          <p class="description">R: 5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">9K</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">9Q</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">9J</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">9T</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">99</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">98</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">97</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">96</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">95</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">94</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">93</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">92</p>
          <p class="description">5%</p>
        </div>
        <!-- END OF ROW 6 -->
        <div class="range-element-inner unselected-combination">
          <p class="title">8A</p>
          <p class="description">R: 5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">8K</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">8Q</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">8J</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">8T</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">89</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">88</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">87</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">86</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">85</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">84</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">83</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">82</p>
          <p class="description">5%</p>
        </div>
        <!-- END OF ROW 7 -->
        <div class="range-element-inner unselected-combination">
          <p class="title">7A</p>
          <p class="description">R: 5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">7K</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">7Q</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">7J</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">7T</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">79</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">78</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">77</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">76</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">75</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">74</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">73</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">72</p>
          <p class="description">5%</p>
        </div>
        <!-- END OF ROW 8 -->
        <div class="range-element-inner unselected-combination">
          <p class="title">6A</p>
          <p class="description">R: 5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">6K</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">6Q</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">6J</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">6T</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">69</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">68</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">67</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">66</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">65</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">64</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">63</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">62</p>
          <p class="description">5%</p>
        </div>
        <!-- END OF ROW 9 -->
        <div class="range-element-inner unselected-combination">
          <p class="title">5A</p>
          <p class="description">R: 5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">5K</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">5Q</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">5J</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">5T</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">59</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">58</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">57</pw>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">56</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">55</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">54</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">53</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">52</p>
          <p class="description">5%</p>
        </div>
        <!-- END OF ROW 10 -->
        <div class="range-element-inner unselected-combination">
          <p class="title">4A</p>
          <p class="description">R: 5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">4K</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">4Q</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">4J</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">4T</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">49</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">48</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">47</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">46</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">45</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">44</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">43</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">42</p>
          <p class="description">5%</p>
        </div>
        <!-- END OF ROW 11 -->
        <div class="range-element-inner unselected-combination">
          <p class="title">3A</p>
          <p class="description">R: 5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">3K</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">3Q</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">3J</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">3T</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">39</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">38</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">37</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">36</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">35</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">34</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">33</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">32</p>
          <p class="description">5%</p>
        </div>
        <!-- END OF ROW 12 -->
        <div class="range-element-inner unselected-combination">
          <p class="title">2A</p>
          <p class="description">R: 5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">2K</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">2Q</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">2J</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">2T</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">29</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">28</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">27</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">26</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">25</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">24</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">23</p>
          <p class="description">5%</p>
        </div>
        <div class="range-element-inner unselected-combination">
          <p class="title">22</p>
          <p class="description">5%</p>
        </div>
        <!-- END OF ROW 13 -->
      </div>
    </div>
    <div class="col-2">
      <div class="hand-odds">
        <p>Raise: </p>
        <p>Call: </p>
        <p>Fold: </p>
      </div>
    </div>
  </div>

</body>
</html>
